[2011-12-15 16:28] bklang opened #1 "Allow absolute values when setting speed, volume and seek"
The media output spec allows for altering playback speed and volume, as well as seeking within the stream.  However all of these controls only accept offsets from the current speed, volume and location, respectively.  The spec also does not define what the relative units are.

Since deltas are relatively easy to calculate, and using them introduces a possible race condition, I would prefer to be a

[2012-01-22 12:51] benlangfeld opened #2 "Formal definition should be generated from the schema"

[2012-01-22 12:52] benlangfeld opened #3 "Schema duplication should be reduced"

[2012-01-22 12:52] benlangfeld opened #4 "Schema should include documentation for all attributes/elements"

[2012-01-22 12:54] benlangfeld opened #5 "Output command should include the document in a <document/> child element"
This ensures that other children may be added cleanly in the future

[2012-01-22 12:56] benlangfeld opened #6 "All errors should include some sort of code/classification"
Relying on full-text english error messages is not sufficient

[2012-01-22 12:57] benlangfeld opened #7 "Full documentation of addressing system"

[2012-01-22 12:59] benlangfeld opened #8 "Schema should include join/mixer related elements"

[2012-01-22 13:00] benlangfeld opened #9 "Full documentation of error conditions"

[2012-01-22 13:01] benlangfeld opened #10 "Full documentation of command behaviour"

[2012-01-22 13:28] benlangfeld opened #11 "Schema should account for mutually exclusive attributes (eg call-id and mixer-name on join)"

[2012-01-22 13:29] benlangfeld commented on #11
This may require something like Schematron

[2012-01-22 13:56] benlangfeld opened #12 "An unjoin with no call-id or mixer-name attributes should remove *all* joins from the target"

[2012-01-22 13:56] #8 closed, assigned to benlangfeld

[2012-01-24 16:27] benlangfeld opened #13 "Specify auto-answer conditions on media operations"
Beginning a media component on an un-answered call should answer it automatically.

[2012-01-25 13:51] benlangfeld opened #14 "The spec should include acknowledgements"
http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo.html#acknowledgements

[2012-01-25 16:21] #7 closed, assigned to benlangfeld

[2012-01-25 17:33] #3 closed, assigned to benlangfeld

[2012-01-25 17:33] #4 closed, assigned to benlangfeld

[2012-01-25 17:42] #5 closed, assigned to benlangfeld

[2012-01-31 23:51] benlangfeld opened #15 "`<reject/>` end reason should be `<rejected/>`"

[2012-01-31 23:58] loopingrage opened #16 "Return the actual SIP status code for rejected <dial/> requests"
There is growing desire among the Rayo Community for lower level access to SIP status codes; specifically the error code produced by the far end when rejecting an outgoing INVITE.

It was probably naive and slightly idealistic to think that Rayo Clients could be completely encapsulated from the underlying protocol used by it's callers (e.g. SIP, Jingle, ISDN).

My proposal:
- Deprecate `<busy/>` a

[2012-02-01 07:52] mpermar commented on #16
Would it be worth to make generic the protocol specifics? Like instead of `<sip:status-code>486<sip:status-code/>` something like `<meta key="protocol" value="sip"/>` `<meta key="status-code" value="486"/>` so parsers would not need to be aware of the different protocols. Just wondering.

[2012-02-01 11:33] benlangfeld commented on #16
How far do we want to go with this? Do we want to allow status codes as a child of any reason element? Every event (`<ringing/>`) and such? Do we have any SIP messages that are currently swallowed and do not result in any Rayo event? Do we want to expose these as SIP-specific events?

[2012-02-01 15:49] loopingrage commented on #16
There certainly are some SIP messages that do not currently result in any Rayo event. SUBSCRIBE/NOTIFY are a perfect example. However, I suspect most of the missing messages can be mapped in some protocol-agnostic agnostic way.

Since we already surface headers, it's really things like status codes that are the issue here.

[2012-02-02 20:16] loopingrage commented on #16
thoughts?

[2012-02-03 07:27] mpermar commented on #16
I vote for an agnostic representation that keeps the parsers simple and let client applications to interpret the data they receive. Maybe with a couple of new tags, maybe using headers, ...

Also question is would this somehow pollute the protocol for applications that are not interested in the protocol specifics? This could be solved with a flag in the Rayo Server Prism's implentation that would

[2012-02-03 08:37] benlangfeld commented on #16
So, in line with the "XMPP way", I would vote for separate elements, specified in extension specs. I already intend for there to be a rayo-sip spec, outlining best practices for mapping, and this can go there.

I would imagine that being able to turn the verbosity up or down was unnecessary. XMPP clients typically ignore what they do not understand.

[2012-02-03 09:01] mpermar commented on #16
Well this topic also raises the question of Rayo being too tied to XMPP which was questioned by some people.

[2012-02-03 09:16] benlangfeld commented on #16
If rayo is to be specified outside the bounds of XMPP, we need to
address several issues (namespaces etc) and write the spec as an IETF
RFC, rather than an XEP.

Enviado via iPad

Em 3 Feb 2012, às 09:01, mpermar
reply@reply.github.com
escreveu:

[2012-02-13 19:19] benlangfeld commented on #16
Any thoughts on the RFC vs XEP issue?

[2012-02-13 19:29] loopingrage commented on #16
I like it as XEP. I see no reason why we couldn't steer away from using `urn:xmpp` namespaces regardless just in case though.

[2012-03-30 19:39] bklang opened #17 "Starting a Rayo client with the same JID (excluding resource) continues to receive events for which it has no state"
Example:

1) I start Adhearsion
2) A caller enters the system and joins a mixer
3) Adhearsion dies (does not clean up state or hang up calls)
4) Adhearsion restarts
5) After restarting Adhearsion receives events from both the call and the mixer

[2012-03-30 19:41] benlangfeld commented on #17
Is this dependent on the resource being the same when restarted?

[2012-03-30 19:49] bklang commented on #17
it probably is, since this particular app has the resource hard-coded.  I will test.

[2012-04-19 08:10] #15 closed, assigned to benlangfeld

[2012-04-19 08:13] #13 closed, assigned to benlangfeld

[2012-04-19 08:14] #6 closed, assigned to benlangfeld

[2012-04-19 11:43] #12 closed, assigned to benlangfeld

[2012-04-19 12:14] #14 closed, assigned to loopingrage

[2012-04-19 12:19] benlangfeld opened #18 "Spec should include suggested use cases"
@bklang Thrashing out some ideas here would be great.

[2012-04-19 15:34] benlangfeld opened #19 "Cannot include CDATA tags in example stanzas (nested CDATA not allowed)"

[2012-04-19 17:35] #9 closed, assigned to benlangfeld

[2012-04-19 17:35] #10 closed, assigned to benlangfeld

[2012-04-19 17:37] benlangfeld opened #20 "Mixer API should be defined"

[2012-04-20 07:05] mpermar commented on #20
https://github.com/rayo/rayo-server/wiki/Mixers

[2012-04-20 07:59] benlangfeld commented on #20
Yup, I'm aware of that. This ticket is a placeholder for writing that up in a normative sense in the XEP.

[2012-04-22 20:54] #20 closed, assigned to nobody

[2012-04-25 13:17] benlangfeld opened #21 "Specify mixer last-leave behaviour"
Mixers are implicitly destroyed on last-leave?

[2012-04-25 13:17] benlangfeld opened #22 "Examples of mixer event subscription"

[2012-04-25 13:18] benlangfeld opened #23 "Inconsistent errors on malformed commands"
Some places we specify bad-request, others not-acceptable.

From @mpermar:
- On 6.5.1. Component errors. I kind of miss the not-acceptable error that I've seen before on dial/join. To be honest the bad-request and not-acceptable errors are a bit ambiguous in any cases. Probably it should be consolidated into a single error.

[2012-04-25 13:19] benlangfeld opened #24 "Documentation & examples of different output document types"

[2012-04-25 13:19] benlangfeld opened #25 "Input component on mixers"

[2012-04-25 13:20] benlangfeld opened #26 "What media does a record component actually record?"

[2012-04-25 13:22] benlangfeld opened #27 "Record stop-beep attribute"

[2012-04-25 13:23] benlangfeld opened #28 "DTMF events"
The events should come from an input component (as with other signal detectors). Should one be started at the top of the call?

[2012-04-25 13:23] benlangfeld opened #29 "Mute/unmute"

[2012-04-25 13:23] benlangfeld opened #30 "Hold/unhold?"
How is this different from mute/unmute?

[2012-04-25 13:24] benlangfeld opened #31 "Consistency in terminating bulleted lists with a period"

[2012-04-25 13:24] benlangfeld opened #32 "DTMF command?"
I wonder if we need a DTMF command, or if this should simply be wrapped up in the output component. Thoughts?

[2012-04-25 14:02] benlangfeld commented on #30
@mpermar says "The difference is the media. A call on hold does not receive media. A call muted still does receive media.".

So hold essentially unjoins the call from the media server?

[2012-04-25 14:03] benlangfeld commented on #32
@mpermar: Yeah, the only advantage I can think of about having it is that it is self-explanatory. Otherwise you would have to enter into explaining the output syntax needed to send dtmf tones.

I think either is equal effort to specify, and using output keeps it more generic, so that would be my preference. Ticket here: https://github.com/rayo/xmpp/issues/32

[2012-04-25 14:06] benlangfeld opened #33 "Auto-answer?"
From @mpermar:

[code]

That kind of breaks the protocol. I am speaking from the top of my head right now but I think we currently return errors if the call is not answered and receives commands. Supporting auto-answer kind should perhaps be an optional feature, but otherwise kind of leaves the door open for breaking semantics of answering calls.

I would think that for gaining control of a call y

[2012-04-25 14:08] benlangfeld commented on #25
From @mpermar:

The semantics are the same as for a regular input component that were executed on a call. The only difference is that any call in the mixer can answer the input command. The complete event will in this case come from the mixer as directed presence to the client.

The main problem I see with this as it is right now is that in the input semantics there is no information about which c

[2012-04-25 14:09] benlangfeld commented on #25
So only one call in the mixer provides input, or input is the aggregate of signals from all participants?

[2012-04-25 14:22] benlangfeld commented on #21
From @mpermar: Yes. Although for a client is really kind of transparent as if later tries to rejoin the mixer then the resource will be re-created. I imagine the way to cleanup resources (if there is any cleanup) is something that should be left up to the server implementation, but probably worth mentioning it.

[2012-04-25 14:22] benlangfeld commented on #21
It would not be entirely transparent though, since the mixer would send unavailable presence when it is destroyed, no?

[2012-04-25 14:28] mpermar commented on #30
Essentially yes, but I am not sure how it is done at the media server level which is something that would affect licensing.

[2012-04-25 14:37] #27 closed, assigned to mpermar

[2012-04-25 14:53] benlangfeld commented on #21
From @mpermar: Well, actually there is nothing in the Rayo Mixers wiki mentioning what should be done in the case were a mixer is destroyed. Currently no unavailable presence is sent. I don't see any problems in sending it. I think I haven't read it either on the spec. so perhaps is something you need to add. Other question would be sending presence but to whom. It's questionable whether clients t

[2012-04-25 14:55] benlangfeld commented on #21
I would be uncomfortable leaving this up to each implementation. I will consider this later and post my thoughts. Initially, it feels like something we should defer to RFC6121 for.

[2012-05-10 21:23] benlangfeld commented on #33
Ok, there should be no auto-answering, and an output prior to an answer should attempt early media. Other media operations should return an out of order type error.

[2012-05-11 14:50] benlangfeld opened #34 "Hotword detection"
Input component should support hotword detection. See https://www.pivotaltracker.com/story/show/29461159

[2012-06-08 15:52] benlangfeld opened #35 "Multiple headers with the same name should be allowed"
Tagging @bklang, @jsgoecke

The tricky point here is how we deal with headers on subsequent events.

eg:

[code]

[code]

Should this be considered as an _additional_ value, or a _replacement_?

[2012-06-16 19:34] bklang opened #36 "TTS/ASR: Is support for these input/output components MAY or MUST for Rayo compatibility?"
In section 3 ("Requirements") of the proposed XEP, it mentions:

Speech Synthesis / TTS: In cases where dynamic data must be spoken, a Speech Synthesis engine may be used to play computer generated speech to the caller.

and

Speech Recognition: Enables the phone application to take spoken queues allowing for sophisticated voice-driven menus and directory services.

Are TTS and ASR considered opti

[2012-06-16 19:43] bklang opened #37 "Define which components may execute concurrently?"
The current proposed spec mentions that components can and will execute concurrently.  Are there any cases where components may not execute concurrently?  Do we need to document a list of which components are mutually exclusive, and possibly create a special error message for components which may not be executed concurrently?

[2012-06-16 19:50] bklang opened #38 "Clarify whether call joins require same DCP"
The spec mentions that a call may be joined to another call, but does not specify any kind of access control with respect to the calls being joined.

Assume that callA is being controlled by juliet@capulet.lit/instance1 and callB is being controlled by juliet@capulet.lit/instance2.  Since we can assume that the two instances of the same JID are part of the same organization, it follows that there

[2012-06-16 19:53] bklang opened #39 "Explicit transference of call control between Rayo clients"
Can a Rayo client explicitly transfer control of a call to another Rayo client?

Example use-case:
In issue #38, I explained a case where two separate calls were being managed by separate DCPs.  In such a case, it may be desirable for DCP "instance2" to transfer control of the call to DCP "instance1" so that a join may be effected.

Example use-case:
DCP "instance2" needs to go offline for mainten

[2012-06-16 19:55] bklang opened #40 "Releasing control of a call without Hangup"
Should it be possible for a DCP to release control of a call without hanging it up?  This is similar to issue #39.

Example use-case: a DCP is going offline but wants another PCP to be able to control the call.  Can it release the call back to the Rayo server such that another PCP can gain control?

This may be a special case of #39 and may be merged there.

[2012-06-16 20:03] benlangfeld commented on #37
All components should be able to execute concurrently. Any future
components which may not should include an appropriate error
definition.

Regards,
Ben Langfeld

On 16 June 2012 21:43, Ben Klang
reply@reply.github.com
wrote:

[2012-06-16 20:03] #37 closed, assigned to nobody

[2012-06-16 20:08] bklang opened #41 "Ambiguity in call/mixer subdomains"
The proposed spec recommends that calls be in a "call" subdomain, and mixers in a "mixer" subdomain.  How strong is this recommendation?  The spec clearly assumes that implementations will follow the recommendation.

Consider this case from Example 20:

[code]

The spec proposes that this call be assigned a JID `9f00061@call.shakespeare.lit`, but the Rayo client would have no way of knowing that u

[2012-06-16 20:11] bklang opened #42 "Allow multiple headers with the same name?"
In section [6.2.1](http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo.html#session-establishment-outbound) as well as other places, we allow setting arbitrary headers.  What if the underlying telephony protocol allows multiple headers with the same name?  I think the specification should address this in a couple of places:
1. Specifically allow for multiple header

[2012-06-16 20:13] bklang opened #43 "Error type for "internal server error""
In [section 6.2.1.1](http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo.html#session-establishment-outbound-errors) we list several possible error conditions.  I suggest we add one for "the server encountered an internal error processing the request" as a catchall for some kind of server failing that is not protocol- or authorization-related.

[2012-06-16 20:16] bklang opened #44 "Denoting required versus optional fields in nomenclature"
In [section 5.2 - Addressing Scheme](http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo.html#addressing) the examples assume that a call or mixer subdomain is an implicit part of each call JID, though the document currently makes the subdomain optional.

Also see issue #41.

I suggest that we use angle brackets "<" and ">" to denote required parts of the address a

[2012-06-16 20:18] bklang commented on #42
Duplicate of #35.

[2012-06-16 20:18] #42 closed, assigned to nobody

[2012-06-16 20:18] benlangfeld commented on #43
I would suggest we're covered by the core XMPP spec in this general case?

[2012-06-16 20:18] #43 closed, assigned to nobody

[2012-06-16 20:21] benlangfeld commented on #36
I would suggest that TTS/ASR be considered optional, but that Input/Output generally be required for DTMF/audio files. We should probably consider the method of delivery of those audio files also (local vs HTTP etc).

[2012-06-16 20:21] bklang commented on #35
Adding my comment from #42:

In section [6.2.1](http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo.html#session-establishment-outbound) as well as other places, we allow setting arbitrary headers.  What if the underlying telephony protocol allows multiple headers with the same name?  I think the specification should address this in a couple of places:
1. Specifica

[2012-06-16 20:25] benlangfeld commented on #40
I think it is reasonable, at least for v1.0, to assume that once a PCP becomes a DCP, it is so for the duration of the call. If a DCP wishes to go offline, it should do one of the following:
1. Forcibly hang up all calls.
2. Drop offline and allow the service to disconnect all calls as a result.
3. Redirect all calls away.
4. Go DND in order to prevent further offers, and quiesce before going offl

[2012-06-16 20:26] benlangfeld commented on #39
See comments on #40

[2012-06-16 20:27] bklang commented on #39
I think the comments in #40 satisfy the second use-case, but what about the first and third use-cases above?

[2012-06-16 20:29] bklang commented on #43
Is it worth mentioning this as a possible cause in the list of error causes? And specifying that existing XMPP errors are sufficient? I suggest this because we do this in other places.

[2012-06-16 20:30] benlangfeld commented on #38
CPs with the same bare JID should be considered to be in the same security zone. Implementations may permit completely different JIDs to be considered to be in the same security zone if they are considered to be attached to the same "app", a la Tropo. That would be implementation specific, but must be allowed by the spec.

Any calls in the same security zone should be joinable, and the same goes f

[2012-06-16 20:30] bklang commented on #40
In the case of #2, does the spec address what happens when a DCP goes offline? Does the Rayo Server have the option of seeking another PCP to take the call?  Perhaps we can add seeking another PCP as a "MAY" option for the server?

[2012-06-16 20:32] benlangfeld commented on #39
For 1, see my comments on #38.
For 3, I would suggest that disperate apps should see the call redirected as if it were hosted entirely separately. This may be revised in later versions of the spec.

[2012-06-16 20:33] benlangfeld commented on #43
I would suggest mentioning that all standard XMPP errors may be used where one in the Rayo spec does not fit, but not mentioning any specific ones.

[2012-06-16 20:34] bklang commented on #38
Allowing calls with different DCPs but in the same zone may lead to unpredictable application behavior.  For example, what does DCP "instance1" do when a call under its control is joined to a call under the control of DCP "instance2"?  Per the current spec, each DCP should get a "joined" event for the call under its control.

If we are going to allow that behavior, I think the spec should be expli

[2012-06-16 20:34] benlangfeld commented on #40
When a DCP goes offline, the call should be dropped as if it encountered an error. The spec should (does?) state this. I think seeking another PCP would be complex on the client side (new call vs old one).

[2012-06-16 20:36] bklang commented on #40
This is the only reference I see to a CP going offline (in [section 6.2.2 - Inbound Sessions](http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo.html#session-establishment-inbound)):

Once the server has offered control, it MUST wait indefinitely for a response from a PCP. The server SHOULD monitor the availability of PCPs to whom offers have been sent. If they al

[2012-06-16 20:36] benlangfeld commented on #38
Security zones are not part of the spec yet, no.

I think we should allow joins within a SZ but across DCPs, with a recommendation that clients should not do this unless they are confident they know how to deal with it.

[2012-06-16 20:38] bklang commented on #38
This works for me assuming we address the issue of security zones and add the recommendation as you describe.  If we do not want to add security zones to this spec, then I think we need to mandate that joins must be exclusively to calls controlled by a common DCP.  I would prefer the former.

[2012-06-16 20:40] benlangfeld commented on #41
- So, firstly, call IDs should be universally unique.
- I agree about clients needing to know which subdomain call events will come from.
- The subdomains should not be required, but should be permissible, as long as they are subdomains of the service domain, much like XMPP components.
- I agree that all refs should include a full address, rather than a simple ID, but possibly both.

[2012-06-16 20:45] bklang commented on #39
I think we have arrived at a workable proposal for #1 and I accept the suggestion for #3.  I still think this feature has utility though, and would like to see it in a future version specification.

[2012-06-16 20:48] bklang commented on #40
Looks like this should be added to [section 6.6 - Session Termination](http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo.html#session-termination):

6.6 Session Termination

Session termination may occur by one of several methods:

An inbound call may be redirected by a PCP to some other target.
An inbound call may be rejected by a PCP.
An active call, whether in

[2012-06-18 11:32] #33 closed, assigned to nobody

[2012-06-18 11:33] benlangfeld commented on #25
@mpermar: Could you please clarify how this works?

[2012-06-18 11:34] #17 closed, assigned to nobody

[2012-06-18 11:53] benlangfeld commented on #32
Two considerations:
- DTMF tones should not be contained within an SSML document because:
  1. There is no dtmf tag in SSML.
  2. Not all media servers are capable of parsing something like `<audio src="dtmf-1"/>`, or implement some variant.
- DTMF is a special case of a general tone, and is just output. As such, it should stay in the output component.

Combining these, I can only conclude that DT

[2012-06-18 11:54] benlangfeld commented on #34
Is SRGS `GARBAGE` sufficient here?

[2012-06-18 11:57] benlangfeld commented on #28
Solution: Input component w/ hotword detection (SRGS `GARBAGE`?) and repeat-on-match (send a match event and reset the buffer), started prior to answering incoming calls.

This means we need to specify repeat-on-match.

[2012-06-18 13:09] mpermar commented on #25
Only one call in the mixer providers input.

[2012-06-18 13:17] benlangfeld commented on #25
How does the mixer decide who?

[2012-06-18 13:27] mpermar commented on #25
The first call in completing the input wins.

[2012-06-18 13:28] benlangfeld commented on #25
So recognisers are started for all calls with separate buffers, and then cleared out once one recogniser matches?

[2012-06-18 13:29] mpermar commented on #25
yes

[2012-09-06 19:16] lpradovera opened #45 "Hangup direction"
A way to determine which party has hung up a bridged call would be very useful for logging and tracking purposes.

[2012-09-22 13:35] benlangfeld opened #46 "Getting a control lock on a call and indicating ringing should be separate concepts"
Sometimes it is desirable to lock a call to a controlling party but delay indicating that the call should ring until some other processing has been performed (mostly for B2BUA cases).

[2012-10-04 13:55] benlangfeld opened #47 "Input match return format should be an NLSML document"
Switch `<match/>` for NLSML `<input/>`.

[2012-10-24 20:38] benlangfeld commented on #47
Done

[2012-10-24 20:38] #47 closed, assigned to loopingrage

[2012-10-27 16:34] benlangfeld commented on #35
@loopingrage Any thoughts on how subsequently delivered values should be specified (replacement vs extra element in a collection)?

[2012-10-27 16:37] benlangfeld commented on #32
So, we need output to have a <document> child similar to <grammar> in input, which has a content type attribute. We also need to define a document format for DTMF output. @loopingrage Are any such formats already defined, or do you have any thoughts on how we might do this?

[2012-10-27 16:41] bklang commented on #35
I feel pretty strongly that we need to support multiple headers with the same key/name and ensure that order is respected when handing it to the backend for processing.

On the client (Adhearsion) side we should consider the comma-delimited format recommended by the RFC, but both styles are considered valid by my reading.

[2012-10-27 16:42] benlangfeld commented on #41
@loopingrage I'm going to go ahead and make this change unless you speak up.

[2012-10-27 16:44] benlangfeld commented on #35
@bklang I want to stay away from the comma delimited thing, simply because it's SIP specific, but we do not specify the format of header values anyway so it's perfectly permissible. I also agree that we should support multiple headers of the same name. The only question is what it means in the example in the OP. Thoughts?

[2012-10-27 16:46] benlangfeld opened #48 "Calls/mixers should use caps (XEP-0115) to advertise their status as either a call or a mixer"

[2012-10-27 16:48] benlangfeld commented on #40
Agreed approach is to specify that a DCP going offline should behave the same as an explicit hangup.

[2012-10-27 17:18] bklang commented on #35
I'm not sure how Rayo deals with headers now. Two possible scenarios:

1) Headers are set and used only on the specific command.  If a header is set for the `<dial/>` it should not be sent again on `<end/>` unless explicitly requested (this is my preference)

2) If headers _are_ preserved then there should be a way to remove a specific header by providing it's key/value pair -or- removing all of a

[2012-10-27 19:29] benlangfeld opened #49 "Mixers should be allocated by the server"
Currently, it's not possible to ensure mixer name uniqueness both between and within security zones, but across instances of a client. If foo@bar.com/1 joins a call to mixer a@bar.com, then baz@bar.com/1 can also join calls it controls to a@bar.com. That's a security issue. Additionally, foo@bar.com/2 cannot, barring unspecified inter-client coordination, know that a@bar.com is created, let alone

[2012-10-27 19:29] benlangfeld commented on #21
I have several concerns regarding mixer 'ownership'. These are:

1) How do I know something is a mixer? (resolved by #48)
2) How do I ensure that I get a unique mixer name which doesn't collide with a call ID or a mixer name already chosen by someone else? (resolved by #49).
3) How does the rayo server prevent me from joining calls to someone else's mixer? (resolved by #49)
4) Mixers should send u

[2012-10-27 21:09] loopingrage commented on #49
Seems complicated. You are truing to solve two problems here: uniqueness and security.

Why not just use a GUID on the client if you want uniqueness? That's basically what the client will do anyways. In Voxeo hosting, we concatenate the developer's account ID with the conference name like so: '16577|foo'. 16577 followed by a pipe character and the conference name of 'foo'. This is quite simple to

[2012-10-27 23:32] loopingrage commented on #35
Yea, option #1 for sure. I'm pretty sure that the RFC requires that we support both the comma separated approach AND the duplicate name approach. I don't think the server support duplicates since we're using a Map to store the headers. This is a bug and should be fixed in Rayo Server.

[2012-10-27 23:37] loopingrage commented on #41
The issue with this change is that it leaks XMPP details into the Rayo payload. This is not desirable. How about requiring that XMPP implementations provide a 'disco' service to get the call and mixer domains (if any)?

[2012-10-27 23:44] loopingrage commented on #32
Voxeo's CCXML browser uses application/x-senddtmf http://docs.voxeo.com/ccxml/1.0-final/frame.jsp?page=dialogtype_senddtmf10.htm but I've never been a fan of the format. Need to think about this one.

[2012-11-01 22:10] benlangfeld opened #50 "Nested join optimisations not currently documented"
[code]

[2013-03-01 17:13] benlangfeld opened #53 "Should be possible to set reason for a <hangup/> command"
SIP Reason header should be settable, probably indirectly via named reasons in the Rayo spec.

[2013-03-22 18:45] crienzo opened #54 "Named grammars"
The input grammar element should have a name attribute when a content-type is specified.  This name (if uniquely assigned), makes it easier to cache grammars that are used repeatedly.

[2013-03-25 15:27] benlangfeld opened #55 "Completion metadata"
XML holy-war: https://gist.github.com/benlangfeld/1482102

PRISM currently relies on node ordering to specify that the first child element of `<complete/>`is the reason. The rest is arbitrary metadata, such as `<recording/>` elements. The spec currently specifies `<recording/>` as children of completion reasons in the recording namespace.

Can we make a decision on which is correct? I'm leaning to

[2013-03-26 02:02] benlangfeld commented on #55
I'm gonna call this closed. We can revisit post-1.0 if required.

[2013-03-26 02:02] #55 closed, assigned to nobody

[2013-03-26 02:11] benlangfeld commented on #45
The client should know if they sent a `<hangup/>` or not. If they did not, they can assume the far end hung up. Rayo also does not link the lifecycle of joined calls, so it's really not a concern here.

Let me know if I've missed anything.

[2013-03-26 02:14] bklang commented on #45
Is there a race condition where the client sends a hangup, but the server sees the far end hang up first?  Hangup direction is one of those odd things that is pretty useful.

[2013-03-26 02:14] benlangfeld commented on #34
I'm going to suggest that for DTMF, `GARBAGE` is sufficient (and should be implemented in ruby_speech's recognizer), and that for ASR this is a possible solution, while hotword-engine-specific grammars are another. The input component shouldn't care either way.

[2013-03-26 02:14] #34 closed, assigned to nobody

[2013-03-26 02:16] benlangfeld commented on #45
Your right. I guess we have to add this.

[2013-03-26 02:20] benlangfeld commented on #41
At this point I don't think we have any reason to care about leaking xmpp. We can offset this by making two changes:
1. Adding a URI scheme to the ref:

[code]
1. Permitting multiple ref elements, one per transport:

[code]

[2013-03-26 02:24] bklang commented on #41
Is it safe to assume (read: we should make it explicit) that each `<ref/>` element returned is equivalent, and that the Rayo client should choose the id that makes the most sense?  This bothers me a bit, in that the id should probably be an opaque string, rather than something we introspect.  Also, does having multiple `<ref/>` elements mean that the Rayo server has to track all IDs that are retur

[2013-03-26 02:40] benlangfeld commented on #41
The client should parse all URIs returned and choose one based on which transport mechanisms it supports (ie the URI scheme). Duplicating this information in a `transport` attribute feels wrong.

If a server supports multiple transports, its internal config should determine which are active, and the server should only return refs for transports over which a call is accessible. Short answer, yes, a

[2013-03-26 02:58] bklang commented on #41
That assumes that id attributes are specified to be a URI. Is that true?

[2013-03-26 03:15] benlangfeld commented on #41
That's the intention, yes. If something can't be addressed by a URI, I'm not sure we should care about it ;)

[2013-03-26 15:21] #45 closed, assigned to nobody

[2013-03-26 15:39] benlangfeld commented on #53
We have a few options here:
1. Borrow SIP cause codes
2. Borrow ISDN (Q.850) cause codes
3. Borrow from Jingle (http://xmpp.org/extensions/xep-0166.html#def-reason).
4. Make up our own enumerations and map them to SIP codes in implementations (informally document best-practice mappings) very much like we do for `<reject/>` etc. If we do this, what should the allowed values be?

[2013-03-26 15:53] bklang commented on #53
I'm personally inclined to stick close to SIP.  FreeSWITCH has a mapping of ISDN to SIP hangup causes: http://wiki.freeswitch.org/wiki/Hangup_causes

[2013-03-26 15:56] benlangfeld commented on #53
If we stick close to SIP, should we migrate other cases where we do a loose mapping to also borrow from SIP (end events, etc)?

[2013-03-26 17:18] benlangfeld commented on #50
@loopingrage Can you please enumerate these issues?

[2013-03-27 13:56] crienzo opened #56 "Example 6 in document is no longer valid"
It is missing document and SSML.

[code]

[2013-03-27 14:21] #56 closed, assigned to nobody

[2013-03-27 15:10] #19 closed, assigned to nobody

[2013-03-27 15:14] #24 closed, assigned to nobody

[2013-03-27 15:22] #31 closed, assigned to benlangfeld

[2013-03-27 18:05] #35 closed, assigned to nobody

[2013-03-27 18:39] benlangfeld commented on #49
So how does this work for mixer presence. You're saying that presence from 1234@mixers.rayo.org to a@example.com is something entirely different from presence sent to b@example.com, and that the mixer JID does not actually fully address the backend mixer? This is utterly abusing XMPP and makes me feel very uncomfortable. I would much rather simply scope mixers to a client JID on first join and ret

[2013-03-27 18:40] #21 closed, assigned to benlangfeld

[2013-03-27 19:06] benlangfeld commented on #49
The other issue with implicit creation is that of addressing, similar to #41. Joining a mixer gives no indication of the full address the mixer will be found at once it's created. For this reason I now definitely favour the server-allocated mixer approach. Unless I get any objections, I'm gonna draft this tomorrow along with the ref changes.

[2013-03-27 19:46] bklang commented on #49
One easy way to address this is consider a mixer domain a freestanding security zone.  Thus anyone who is allowed to create or join mixers on a given domain can join any mixer on that given domain.  Then, if you wanted to implement something higher level (like Tropo or Ameche) you could do so at that level, by concatenating developer IDs with the actual mixer name before requesting the resource fr

[2013-03-27 20:31] benlangfeld commented on #49
That's not a general solution for all clients. How would Adhearsion deal with that, for example?

[2013-03-27 20:51] bklang commented on #49
As Adhearsion is the Rayo client, and security should never be enforced in the client, it's moot about how Adhearsion would deal with it.  But if an Adhearsion application needed to segregate mixers into namespaces, it could do so using the concatenation method described earlier.

[2013-03-27 20:54] benlangfeld commented on #49
Right, but you're suggesting that mixers be globally accessible, but you might have several ahn apps on a single rayo cluster and then your security is hosed. The concatenation method above for security is not acceptable due to its addressing abuse.

As I said, the addressing argument from #41 kills the entire thing in favour of server allocation, unless someone can come up with a proposal which a

[2013-03-27 20:56] bklang commented on #49
The mixers are globally accessible, but a mixer domain would be configured to only accept join requests from Rayo client JIDs in a specific calls domain. Thus having several Ahn apps is fine, as long as their domains are different.  The concatenation method is really only intended for application-specific issues, and is just a note of interest; it shouldn't be baked into the protocol at all.

[2013-03-27 20:58] benlangfeld commented on #49
Using domains for security is a bad idea IMO because then you can't separate app1@jabber.org from app2@jabber.org. Unless you mean the server domain should be different, in which case then you've got even bigger problems and that's a huge implementation change.

[2013-03-27 21:00] bklang commented on #49
Yes, you're right - I had not considered using a single domain where apps do not trust each other.  I don't really see another way around the issue then, server-generated mixers is probably best.

However, I'm not sure I'm satisfied with random, server-supplied mixer names as the only mechanism.  There is clear utility in an app developer being able to say "I want to join the 'sales' conference br

[2013-03-27 21:05] benlangfeld commented on #49
Except mixers are ephemeral, and there's no guarantee that someone else won't steal your mixer name while there's no-one in it.

[2013-03-27 21:07] bklang commented on #49
Right, but for many, many applications, that's OK.  Hard-coded mixer names are the norm for most PBX-style applications.

[2013-03-27 21:13] benlangfeld commented on #49
Right, but hard-coded mixer names won't work on a public cluster. The 'conference' mixer will be hugely contended. If we want nicely named mixers, we have to come up with an acceptable solution to the addressing identity issue, and the only one I can see is the application maintaining a mapping, perhaps combined with a name reservation (such that when a mixer is destroyed it does not become availa

[2013-03-27 21:28] benlangfeld commented on #49
@loopingrage Your input on this issue would be appreciated in addition to the other issues we highlighted.

[2013-03-27 22:15] #44 closed, assigned to nobody

[2013-03-27 22:18] benlangfeld commented on #26
This was fixed by #52

[2013-03-27 22:18] #26 closed, assigned to benlangfeld

[2013-03-27 22:19] benlangfeld commented on #29
Does this mute RECV/SEND/DUPLEX?

[2013-03-27 22:19] benlangfeld commented on #29
@mpermar @loopingrage Any ideas?

[2013-03-27 22:22] benlangfeld commented on #30
I take it this does not actually remove media, but actually just causes the caller to receive silence? This would suggest that mute (#29) applies only to audio received from the caller? This would make the following conceptual equivalents true:
- `<hold> =~ <start-silence direction="SEND"/>`
- `<mute> =~ <start-silence direction="RECV"/>`

Correct?

[2013-03-27 22:25] benlangfeld commented on #25
@crienzo: I'd love to know your thoughts on this. Does this sound like a sensible behaviour, or should the buffer be shared?

[2013-03-28 00:22] crienzo commented on #25
This seems painful to implement (at least in FS) and I can't think of a good use case for this.  Anybody have a good example?

[2013-03-28 00:24] crienzo commented on #54
The mixer namespace discussion has made me reconsider this a bit... Perhaps naming will cause more trouble than it's worth.

[2013-03-28 00:40] bklang commented on #25
Hotword detection in a conference?  Maybe doing it on a conference instead of individual legs to save port licenses?

[2013-03-28 00:53] benlangfeld commented on #54
I'm going to move this to the v1.1 milestone.

[2013-03-28 00:54] benlangfeld commented on #22
This is intimately related to #49, and depends on a resolution to that issue.

[2013-03-28 01:12] crienzo commented on #25
That seems reasonable.  The client app can always start input on individual legs as needed.

[2013-03-28 01:26] crienzo commented on #25
Actually, shared buffer is not possible since you can't tell who made the input and which client to send the result to for processing.

[2013-03-28 01:28] benlangfeld commented on #25
You know who started the input component. Events go to that party. Did I miss something?

[2013-03-28 01:36] crienzo commented on #25
Nope, that's right.

[2013-03-28 01:54] crienzo commented on #32
A standard DTMF document format would help with making the functional test suite implementation-independent.

[2013-03-28 02:00] crienzo commented on #28
Would this be a new kind of intermediate event where the input component continues to execute?

[2013-03-28 12:36] benlangfeld commented on #28
Yes it would, but there's still no consensus on wether it should be grammar
based or something else. This needs work.

Regards,
Ben Langfeld

Em 27 Mar 2013, às 23:00, Chris Rienzo notifications@github.com escreveu:

Would this be a new kind of intermediate event where the input component
continues to execute?

—
Reply to this email directly or view it on
GitHubhttps://github.com/rayo/xmpp/issues/

[2013-03-28 12:38] benlangfeld commented on #32
Does anyone know where x-senddtmf is documented, or if there are any better documented formats? Do we need to define one? If we do define one, either an extension or a parallel spec to SSML would be my preference.

[2013-03-29 17:10] #48 closed, assigned to benlangfeld

[2013-03-29 18:28] benlangfeld commented on #38
Security zones added, but no recommendations around how to deal with app instance division with respect to joins. I'm not sure the spec is really the right place for this. I'm going to close this for now, but if anyone has any concerns, let me know.

[2013-03-29 18:28] #38 closed, assigned to nobody

[2013-04-03 17:16] #30 closed, assigned to nobody

[2013-04-03 17:18] #29 closed, assigned to nobody

[2013-04-03 17:21] benlangfeld commented on #36
ASR = DTMF only
TTS = content-type text/uri-list: http://www.mime-type.net/text/uri-list/

[2013-04-03 17:51] benlangfeld commented on #49
Options:
1. Jose for simplicity, if XSF reject:
2. Ben K's suggestion

[2013-04-03 17:53] benlangfeld commented on #41
Go ahead

[2013-04-03 18:02] benlangfeld commented on #25
Agreed that shared buffer is the simplest approach, and separate buffers can be started using separate input components.

[2013-04-03 18:02] benlangfeld commented on #25
@loopingrage to do further research on the PRISM implementation

[2013-04-03 18:07] benlangfeld commented on #53
Missing use case

[2013-04-04 00:32] crienzo opened #57 "prompt handling of output component commands after output has finished"
It is implied from the spec that an error should be returned.  I think it would be unexpected-request.  It would be useful to explicitly discuss this situation in the prompt component.

[2013-04-04 20:52] #25 closed, assigned to benlangfeld

[2013-04-04 21:22] #36 closed, assigned to benlangfeld

[2013-04-05 00:17] #57 closed, assigned to benlangfeld

[2013-04-05 00:25] #23 closed, assigned to benlangfeld

[2013-04-05 01:18] #41 closed, assigned to benlangfeld

[2013-04-05 01:19] benlangfeld commented on #41
I'm leaving out multiple refs for now pending a use case.

[2013-04-05 14:22] benlangfeld commented on #22
I think this is a noop. Closing.

[2013-04-05 14:22] #22 closed, assigned to benlangfeld

[2013-04-05 14:22] #49 closed, assigned to benlangfeld

[2013-04-05 19:27] #18 closed, assigned to bklang

[2013-04-05 20:41] benlangfeld commented on #32
@crienzo suggested using [FreeSWITCH's tone format](http://wiki.freeswitch.org/wiki/TGML) as a starting point. @burnburn mentioned that [WebRTC is defining DTMF formats](http://dev.w3.org/2011/webrtc/editor/webrtc.html#peer-to-peer-dtmf) and that the W3C Voice Browser Working Group would be a good place for this spec.

[2013-04-10 21:36] burnburn opened #58 "Typo/strange wording in Introduction"
In the second bullet of the Introduction it says "... exercise third party control over particular the established media sessions."  You probably want either "particular" or "the", but not both.

[2013-04-10 21:42] burnburn opened #59 "Section 2, Example 1 clarification"
Based on a first straight read-through, it is not clear at this point that a candidate is a client.  Specifically, it says "... 'juliet@capulet.lit' is a valid candidate for delegating the call ..." and then begins the next paragraph with "The client then decides ...".

It might be nice to change the former to read "... 'juliet@capulet.lit' is a valid candidate to be the client to whom the server

[2013-04-10 21:43] burnburn opened #60 "Typo in section 5.1.1"
"intiating" should be "initiating".

[2013-04-10 21:49] burnburn opened #61 "Relationship to WebRTC should be mentioned somewhere"
because WebRTC is popular :)

Seriously, though, in the first sentence of section 5.1.1 it says "A Rayo server is an entity which is capable of intiating [sic] calls and being party to their media stream ...".  WebRTC advertises as a benefit the fact that the media is protected (mandatory SRTP) from peer to peer.  Maybe it shows up later in the spec (I'm still reading through from the beginning),

[2013-04-10 21:52] burnburn opened #62 "Should be clearer that clients *are* the controlling parties"
On a straight read-through of the doc, by the time I had reached section 5.1.1 I had seen several sentences like this one there:  "The Rayo server is responsible for keeping track of valid clients, routing calls to the correct potential controlling parties, ..." that make it sound as if valid clients and potential controlling parties are not the same thing.  Are they actually different, or is the

[2013-04-10 21:55] burnburn opened #63 "Section 5.1.5 doesn't mention commands to components"
I'm just reading through from the beginning here, but it seems to me that commands can be sent to components as well as service domains, calls, and mixers.  That should be mentioned here.

Actually, I see in section 5.2 that commands may indeed be sent to components, so the text in section 5.1.5 should be updated to reflect that.

[2013-04-12 16:37] crienzo opened #64 "rayo server that comes online after rayo client is not aware of client presence"
In this scenario, a rayo client is connected to its own domain's xmpp server and sends directed presence to the rayo domain.  If the rayo server is not running, it will never see this presence notification.

[2013-04-12 18:20] emcgee commented on #53
The granularity of the SIP cause codes seems preferable at this point, although I personally think the XMPP codes being more generic would allow for greater future extensibility.

[2013-04-15 14:33] benlangfeld commented on #64
I wonder if we should just use real presence subscriptions? @loopingrange ?

[2013-04-15 14:42] crienzo commented on #64
Another thing I noticed is the ahn rayo client will send ping to the rayo domain.  So, I can detect the existence of the client.  However, I still not know the client's availability and using ping would be hacky.

[2013-04-15 16:39] crienzo opened #65 "Entity capabilities and mixer/call presence"
Issue #48 added entity capabilities to rayo presence events so that mixers and calls can be identified as such.

The rayo spec says to use the node to identify the entity as either a mixer or call, however XEP-0115 says the node is supposed to identify the software application, preferably a URI.  Furthermore, a disco is to be performed to actually determine the capabilities of the entity.

I'm not

[2013-05-15 13:05] crienzo commented on #64
One possible solution is for the server to send a presence probe for any unknown clients that ping it.  I'll experiment with this.

[2013-05-15 20:13] crienzo commented on #64
OK - tried sending probe to ejabberd, but that didn't work.  For now, I'll just assume the client is online if I get pinged.

[2013-05-28 13:58] crienzo opened #66 "ref element has inconsistent examples"
The formal definition of ref defines only the uri attribute, however I see both uri and id in examples in the document.

[2013-06-05 15:20] crienzo commented on #64
This scenario can be handled by a rayo gateway or a modified XMPP server.

[2013-06-06 14:47] benlangfeld opened #68 "Implementability concerns with Input end reasons"
How fine-grained should we go with breaking down noinput/nomatch. MRCPv2 breaks these down but differently to how we have, but I'm not sure anything finer grained is useful. Does anyone have a use-case for inter-digit-timeout vs nomatch?

[2013-06-06 14:49] benlangfeld opened #69 "Input mode 'speech' doesn't match SRGS 'voice'"
Should we align with SRGS? http://www.w3.org/TR/speech-grammar/#S4.6

[2013-06-06 16:33] #58 closed, assigned to nobody

[2013-06-06 16:35] #60 closed, assigned to nobody

[2013-06-06 16:37] #59 closed, assigned to nobody

[2013-06-06 16:39] #63 closed, assigned to nobody

[2013-06-06 16:41] benlangfeld commented on #61
@loopingrage Thoughts?

[2013-06-06 18:02] #66 closed, assigned to nobody

[2013-06-06 18:03] #69 closed, assigned to nobody

[2013-06-06 18:03] #68 closed, assigned to nobody

[2013-06-10 16:28] benlangfeld commented on #65
The problem is that mixer's URIs are indistinguishable from call's URIs, and they may both send identical events (eg output complete). We need some way to identify if the entity is a call or a mixer.

[2013-06-12 15:19] benlangfeld commented on #50
We're getting repeated questions about this topic, and this is becoming more and more urgent. @loopingrage Do you think you will be able to provide this info soon?

[2013-07-01 14:23] crienzo opened #70 "It's too restrictive to require CDATA for documents"
The spec currently requires CDATA tags only for wrapping documents and results.  Both CDATA and encoded text should be acceptable since XML parsing libraries usually can handle either transparently and using encoded text prevents having to deal with nested CDATA tags.

[2013-07-15 14:53] crienzo opened #72 "Receive a fax document"
The proposed Rayo CPA spec https://github.com/rayo/rayo-server/wiki/CPA has a way to detect Fax CNG, but there is no way to tell the rayo server to actually receive the document.

The record component already has the function to receive audio and store it, would it make sense to just reuse that component and maybe put in an attribute that tells record we are recording a fax document?

[2013-09-27 18:52] benlangfeld opened #73 "AMD on Rayo"
This is a marker for discussion. I'll add my thoughts over the next couple of days.

[2013-09-27 18:52] benlangfeld commented on #73
Tagging @crienzo.

[2013-10-01 14:50] benlangfeld commented on #72
So, there's a lot of things in the record component currently focussed on audio such that I'd be uncomfortable repurposing it. I would suggest we should implement a new component for fax receipt. Sending a fax would be fairly simple using the existing output component and we can specify that if we have a use case.

I would suggest we go for something like this:

[code]

@crienzo I'd accept a pull

[2013-10-01 14:56] benlangfeld commented on #73
There's a draft for a CPA spec [here](https://github.com/rayo/rayo-server/wiki/CPA). This is mostly complete and I think we should use it as the basis for formal specification. @crienzo @mpermar @loopingrage Any concerns with what's documented there?

[2013-10-01 15:01] dhauser commented on #72
I think it would make sense while looking at fax that we handle sending at the same time even though we don't have a current use case

[2013-10-01 15:15] benlangfeld commented on #72
Can do, David. That'd probably look something like this:

[code]

[2013-10-01 15:34] crienzo commented on #73
Using SRGS seems a little weird.  I can go with that if necessary, but it would be easier for me if we had a different document type or if we used a new component.

[2013-10-01 15:38] benlangfeld commented on #73
I agree it's a little weird. The motivation was this:
1. We need compose-able references to multiple types, as well as attributes to apply to those.
2. SRGS has compose-ability (rule references) and metadata to fit this.

If anyone knows of an appropriate document format, I'd love to hear it. It's something I feel should have the potential to become a standard such that CPA vendors might implement

[2013-10-01 15:39] crienzo commented on #72
Yes, transmit of fax is a simple case.

I don't think we should have a t38 param for receivefax.  The server should decide based on configuration how best to receive the fax, just like it does for everything else.

[2013-10-01 15:42] crienzo commented on #72
I don't have time to update the spec for a couple of weeks since I'm finishing up another project.  If you guys can wait until then, I can do it.

[2013-10-02 06:25] mpermar commented on #73
No concerns on this side. All I can say is that our rayo server does currently follow that spec. and all stuff documented there is working.

[2013-10-02 14:00] crienzo commented on #73
OK, if this is already working, then I can implement on my server.

[2013-10-02 14:11] mpermar commented on #73
Some working test cases: https://github.com/rayo/rayo-functional-tests/blob/develop/src/test/java/com/rayo/functional/rayoapi/RayoCPATest.java

[2013-10-02 15:51] benlangfeld commented on #73
I've written [a first draft of an extension specification for CPA](http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo-cpa.html). This has some minor differences from the version in the wiki, but it still uses the special SRGS grammar format. I will be putting some thought into an alternative, simpler format to replace this later today.

[2013-10-02 18:32] benlangfeld commented on #73
The draft spec has been updated to use special URIs instead of the SRGS grammars previously, like so:

[code]

[2013-10-02 18:35] benlangfeld commented on #73
I wonder wether the mode attribute should move from `<input/>` to `<grammar/>`? The only use case for it is when grammars are referenced by URL to avoid the Rayo server having to fetch the grammar to inspect its type, much like the content-type attribute.

[2013-10-02 19:35] benlangfeld commented on #72
Spec is being built [here](http://ci.mojolingo.com/job/Rayo%20Spec/lastSuccessfulBuild/artifact/extensions/rayo-fax.html). Actual content on the way shortly.

[2013-10-02 21:33] benlangfeld commented on #72
The spec should be more or less complete. @crienzo, please let me know what you think. If you agree with it, I'll implement the client-side stuff in Adhearsion/Punchblock and we can submit to the XSF once we have confirmed working integration.

[2013-10-02 21:50] bklang commented on #72
I notice you include the resolution as a attribute of the `<fax/>` element, but are there other attributes that need including? Some possibilities:
- page size (letter vs. A4...I'm assuming this is transmitted, but may be implied by resolution)
- DPI (ditto above)
- fax station IDs
- transmission mode (thinking analog vs. t.38 here, but could also include the v.number)

Also, what happens in the e

[2013-10-02 22:45] benlangfeld commented on #72
For reference, [the data FreeSWITCH provides](http://wiki.freeswitch.org/wiki/Mod_spandsp#Checking_the_results).

`fax_image_size` might be this...

This can be calculated from a page size and the resolution.

This is available in FreeSWITCH, but why would it be important to the app?

I don't think we get this. Why would it be important?

We should implement some error conditions. Some available i

[2013-10-02 22:52] crienzo commented on #72
FS will fire events for each fax page received or transmitted and for the final report.  In addition, you can specify a starting/ending page to transmit and the fax ident and header.

The tx result event contains:
fax-document-transferred-pages
fax-document-total-pages
fax-image-resolution
fax-image-size
fax-bad-rows
fax-transfer-rate
fax-result-code
fax-result-text
fax-ecm-used
fax-local-station-

[2013-10-02 22:54] crienzo commented on #72
We report all sorts of SIP header info in offers, maybe we can package this report info up similarly?

[2013-10-02 23:03] crienzo commented on #73
My only use case for using input mode is to decide whether the server needs to parse the grammar or pass it along to an MRCP server.

[2013-10-03 13:39] benlangfeld commented on #73
@crienzo I figure [this](https://github.com/FreeSWITCH/FreeSWITCH/blob/master/src/mod/event_handlers/mod_rayo/rayo_input_component.c#L391) is what you're referring to. More generally I think this should be dependent only on the `recognizer` attribute which can be used to decide which recognizer to route to.

I'll open a new issue on this, but since it's backward incompatible I won't incorporate it

[2013-10-03 13:42] benlangfeld opened #75 "Input mode applies only to individual grammars referenced by URL"
I wonder wether the mode attribute should move from `<input/>` to `<grammar/>`? The only use case for it is when grammars are referenced by URL to avoid the Rayo server having to fetch the grammar to inspect its type, much like the content-type attribute.

See https://github.com/rayo/xmpp/issues/73#issuecomment-25564678

[2013-10-09 17:47] benlangfeld opened #76 "Join spec is not clear on when result should be fired"
See http://jira.freeswitch.org/browse/FS-5865. @crienzo suggests the spec could make this point more obvious.

[2013-10-18 18:17] crienzo opened #77 "unjoin command w/ no specified join"
Example 35 shows this is a legal command to unjoin from all existing joins.  However, the Unjoin Element states that either call-uri or mixer-name is required.

[2013-10-18 18:25] benlangfeld commented on #77
That's a bug in the formal definition, the example is correct. I will correct it shortly.

[2013-10-18 21:53] #77 closed, assigned to benlangfeld

[2013-11-01 14:37] crienzo opened #78 "Rayo CPA fax vs fax-cng"
Is it correct that `urn:xmpp:rayo:cpa:fax:1` is for CED and `urn:xmpp:rayo:cpa:fax-cng:1` is for CNG?

[2013-11-01 14:54] crienzo opened #79 "Rayo CPA: additional tones"
Add busy and congestion tones?  These would be useful for dialer applications.

[2013-11-01 14:56] benlangfeld commented on #78
Correct. I'll rename it to be explicit.

[2013-11-01 14:59] #78 closed, assigned to nobody

[2013-11-01 15:00] benlangfeld commented on #79
I would expect these to be mapped to a Rayo `<end/>` event and not require CPA at all.

[2013-11-01 15:13] crienzo commented on #79
Having worked on dialers, I can tell you this is not necessarily the case.   Many voip carriers are inconsistent in their completion codes and it is handy to detect the tones to improve call disposition.

[2013-11-01 15:15] #79 closed, assigned to nobody

[2013-11-01 15:25] crienzo opened #80 "Rayo fax: partial transmission / receipt"
I don't have much experience in this, but I should be able to detect this scenario.  Can we reuse the `<error>` completion reason?  I can add the `<fax>` and `<metadata>` elements to provide what was received and report data.

[2013-11-01 15:27] benlangfeld commented on #80
I think that's perfectly reasonable :)

[2013-11-01 15:28] crienzo opened #81 "Rayo fax: intermediate events?"
Any value in sending an event for each transmitted or received page?  I don't have any current need for it, but perhaps an app could use it to monitor realtime status.

[2013-11-01 15:34] crienzo opened #82 "Rayo fax: service discovery"
Versions listed in section 5 are: `urn:xmpp:rayo:0` and `urn:xmpp:rayo:fax:0`.  These need to be corrected.

[2013-11-01 15:50] crienzo opened #83 "Rayo fax: specifying headers"
We need to be able to specify identity and header for transmitted faxes:

identity: telephone number (spaces, digits, +)
header: header line at top of each page

[2013-11-01 15:54] crienzo opened #84 "Rayo fax: transmit specific page range"
No current requirement for this, but I am able to specify the start and end page when sending a fax.

[2013-11-01 16:18] benlangfeld commented on #80
I guess that's resolved then.

[2013-11-01 16:18] #80 closed, assigned to nobody

[2013-11-01 16:19] benlangfeld commented on #81
I think that's probably something we can address later once we have a use-case

[2013-11-01 16:20] #82 closed, assigned to nobody

[2013-11-01 16:42] benlangfeld commented on #83
So this (along with #84) are difficult because the output component's `<document/>` element is not flexible enough. We can't add children to it because those would be considered to _be_ the document as inline data.

Three possible solutions:
1. Use some funky URL format like: `http://example.com/my_fax.tiff?pages=2..4&identity=+140455555555&header=This%20is%20some%20header`
2. Allow something like

[2013-11-01 16:48] crienzo commented on #83
option 2 is fine with me.

[2013-11-01 18:25] #83 closed, assigned to nobody

[2013-11-01 18:30] #84 closed, assigned to nobody

[2013-11-01 18:31] benlangfeld commented on #73
I think everyone is satisfied with the current spec and I'll submit it to the XSF for publishing today. They will take up to 2 weeks to publish it.

[2013-11-01 18:32] #73 closed, assigned to nobody

[2013-11-01 19:08] benlangfeld commented on #72
I think everyone is satisfied with the current spec and I'll submit it to the XSF for publishing today. They will take up to 2 weeks to publish it.

[2013-11-01 19:08] #72 closed, assigned to nobody

[2014-01-06 15:55] chewi commented on #32
Perhaps you missed [XEP-0181](http://xmpp.org/extensions/xep-0181.html)? It's deferred so I almost missed it myself but being an XEP, I guess it's a little closer to home than the other suggestions.

[2014-01-15 19:33] benlangfeld commented on #50
@loopingrage It would be great if we could get these soon so that we can ensure we implement ringback passthrough in B2BUA scenarios correctly.

[2014-01-21 16:08] benlangfeld commented on #50
@mpermar Could you shed any light on this for me?

[2014-01-21 18:09] mpermar commented on #50
Not really. So far nested join currently just embeds a join within a dial. So the standard join attributes can be passed through, i.e. direction, media and type. Not sure if that was what you were referring to.

[2014-01-21 18:14] benlangfeld commented on #50
This is more about when the join takes place and ringback concerns. Any chance you could prod Jose on some further details?

[2014-01-21 18:16] mpermar commented on #50
Right. Try to ping him on skype. He's probably getting thousands of emails these days.

[2014-01-21 18:17] benlangfeld commented on #50
Yeah, I tried, I havn't been able to get a response. Not sure what to turn to next.

[2014-01-28 03:10] crienzo opened #88 "call transfer?"
Ben Klang noticed there is no way to initiate a SIP REFER.  Is this an oversight?

[2014-01-28 14:41] benlangfeld commented on #88
It seems there isn't explicitly. I would expect `<redirect/>` to work before and after answer [in the way you describe](http://jira.freeswitch.org/browse/FS-6141?focusedCommentId=47647&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-47647) (302/REFER). I'm not sure there's a reason not to do this; any thoughts?

[2014-01-28 14:41] benlangfeld commented on #88
/cc @bklang

[2014-01-28 14:58] crienzo commented on #88
It certainly would be simpler on the client side- you don't have to track state and can move the call at (almost) any time.

[2014-01-28 16:11] bklang commented on #88
Looks good to me. :+1:

[2014-01-28 20:21] #88 closed, assigned to nobody

[2014-01-29 01:51] crienzo commented on #88
redirect sent to a call under the control of another DCP results in conflict error, not "not-allowed".  Everything else is fine.

[2014-01-29 15:06] benlangfeld commented on #88
Thanks for pointing that out, @crienzo. Fixed in 1230d86f70f73fbd953ad2571e40ae694b7363cc.

[2014-02-26 17:29] benlangfeld opened #89 "Race condition in outbound dialing"
Requests for creation of an outbound call via the `<dial/>` command suffer from the same race condition as Asterisk suffers from, [documented in this thread](http://lists.digium.com/pipermail/asterisk-app-dev/2013-December/000239.html).

The conclusion of the Asterisk discussion was that the API would support providing an ID in the origination request, which the resultant call would assume for its

[2014-02-26 18:09] benlangfeld opened #90 "Rayo events should be timestamped for reliable processing in the client"
Some clients want to use Rayo events for billing purposes. This requires the time of generation of the event to be known precisely. Currently, clients have to approximate using the arrival time in their code, which might be significantly later.

I propose that we state that all presence stanzas emitted by a rayo server SHOULD implement [XEP-0203: Delayed Delivery](http://xmpp.org/extensions/xep-02

[2014-02-26 18:11] benlangfeld commented on #89
This problem also applies to creating components. We should probably apply whatever solution we choose here to component creation also.

[2014-02-26 18:27] benlangfeld commented on #89
@crienzo prefers option 1 here for its relative simplicity. I think I'm happy with this. I'll wait on thoughts from @mpermar.

[2014-02-26 18:32] mpermar commented on #89
Hi guys,

I'm fine with either 1. or 2. as long as it is not 3. which overcomplicates
things and adds some lag too. As long as it is optional I think everyone is
happy.

Cheers,
Martin

On Wed, Feb 26, 2014 at 7:11 PM, Ben Langfeld notifications@github.comwrote:

##

Martín Pérez

Founder,
http://www.jobsket.com

[2014-02-26 18:58] crienzo commented on #89
Between option 1 and 2, I prefer 1.

[2014-02-26 19:00] benlangfeld commented on #89
I'll get option 1 specified shortly.

[2014-02-27 15:58] #89 closed, assigned to nobody

[2014-02-27 20:00] #90 closed, assigned to nobody

[2014-02-27 20:02] benlangfeld commented on #90
This will be included in Rayo v0.4 when I submit to the XSF shortly.

[2014-02-27 20:03] benlangfeld commented on #89
This will be in Rayo v0.4

[2014-02-28 20:23] skalogirou commented on #50
@loopingrage did you have any progress on this issue. Is there any way we could contribute to get a solution on this faster.
Thank you

[2014-03-04 20:00] benlangfeld commented on #89
FS support requested at http://jira.freeswitch.org/browse/FS-6282

[2014-03-13 01:06] benlangfeld opened #91 "Input timeouts are not flexible enough"
`input#max-silence` is mapped to both `Speech-Complete-Timeout` and `Speech-Incomplete-Timeout` in MRCP. We should _probably_ allow these to be set separately.

See https://github.com/FreeSWITCH/FreeSWITCH/blob/master/src/mod/event_handlers/mod_rayo/rayo_input_component.c#L486-L490

[2014-03-23 19:28] bklang opened #92 "Ability to stop (cancel) an Originate"
I need the ability to stop a dial that is in progress, before the timer on the dial expires.

[2014-03-24 19:46] benlangfeld commented on #92
So since a SIP 100 will trigger a response to a dial, and the 100 should come super fast, an ability to cancel a `<dial/>` is only useful in failure scenarios. I've not seen any real-world complaints about this so far, so I'm leave this alone for now.

[2014-05-19 17:15] bklang opened #94 "Conflating input timers leads to poor caller experience"

[2014-05-19 17:31] bklang commented on #94
Closing, this was opened accidentally.

[2014-05-19 17:31] #94 closed, assigned to nobody

[2014-07-02 20:11] benlangfeld commented on #32
@burnburn mentioned at AdhearsionConf in Dec 2013 that WebRTC would adopt a stand-alone DTMF document format if one existed, and I _think_ I remember he suggested that the IETF would be the appropriate place for that. Something along the lines of XEP-0181 might be acceptable, but it could not be an XEP or jingle-specific to meet these requirements.

[2014-07-05 17:12] burnburn commented on #32
I believe the proper statement now is that the WebRTC group _would have_ adopted a stand-alone DTMF document format if one had existed.  At this point (July 2014) I think it unlikely any change will occur for the format defined in the WebRTC spec, at least for version 1.0 of WebRTC.

However, it may still be worth pursuing defining such a format.  IETF is a reasonable candidate to do such work, bu

[2014-12-01 23:20] benlangfeld commented on #91
Closing in favour of https://github.com/rayo/xmpp/pull/96.

[2014-12-01 23:20] #91 closed, assigned to nobody

[2015-07-14 04:52] tylorr opened #98 "Pubsub: error when modifying multiple affiliations"
When modifying multiple pubsub affiliations the [extension states](https://xmpp.org/extensions/xep-0060.html#owner-affiliations-multi):

But the provided [example](https://xmpp.org/extensions/xep-0060.html#example-207) is not following this rule. It does not list which affiliation modifications are not acceptable.

[2015-07-14 06:44] tylorr opened #99 "Pubsub: affiliation state change questions"
In the [affiliations section](https://xmpp.org/extensions/xep-0060.html#affiliations) it talks about affiliation state changes and for a change from publisher to member is shows `n/a`.  What does that mean exactly? Does that mean a publisher cannot be changed to a member? Do they have to be changed to none first then to a member?

[2015-07-14 11:03] benlangfeld commented on #98
This is the wrong repository for these issues. This repository is for development of the Rayo suite of specifications. You are looking for github.com/xsf/xeps.

[2015-07-14 11:03] #98 closed

[2015-07-14 11:04] benlangfeld commented on #99
This is the wrong repository for these issues. This repository is for development of the Rayo suite of specifications. You are looking for github.com/xsf/xeps.

[2015-07-14 11:04] #99 closed

[2017-04-24 13:14] chewi opened #100 "Prompt barge-in-after feature for postponing barge-in ability?"
Testing of our newest service found that entering too many digits for a prompt caused the following prompt to accept those digits as a barge-in before anything is heard. An artificial delay is undesirable and a totally unbargeable prompt in-between may not always be appropriate so it would be useful if prompts could postpone the ability to barge-in after a given amount of time. What do you think?